<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de usuarios</span>
      <button class="btn btn-dark btn-lg" style="float:right" routerLink="/create-empleados">
        Agregar
      </button>
      <h5 *ngIf="empleados.length == 0" style="margin-top: 40px;" class="bg bg-warning">No hay registros para mostrar</h5>
      <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th class ="text-center">Editar</th>
            <th class ="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>ccaitese@tese.edu.mx</td>
            <td>*************</td>
            <td class="edit">
              <i class="fas fa-edit fa-lg text-info" [routerLink]="['/editEmpleados/', empleado.id]"></i>
            </td>
            <td class="trash">
              <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
